{% extends 'consumption/layout.html' %}


{% block head %}
    <!-- Should really be in header block -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['date', 'average','max'],
	  {% for i in time_chart %}['{{i.day}}',{{i.average}},{{i.maximum}}]{% if not forloop.last %},{% endif %}{%endfor%}
        ]);

        var options = {
          title: 'Average energy consumption',
          //curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
{% endblock %}
{% block content %}
 <div id="curve_chart" style="width: 90%; height: 500px"></div>
<table border=1 width=90%>
  <tr>
    <th>Customer ID</th>
    <th>Area</th>
    <th>Tariff</th>
  </tr>
	{% for user in users %}
	<tr>
		<td><a href='detail/{{ user.user_id }}'> {{ user.user_id }} </a> </td>
		<td>{{ user.user_area }} </td>
		<td>{{ user.user_tariff}} </td>
	</tr>
	{% endfor %}

</table>


{% endblock %}
